n_hidden 1024
f_dim 400
learn_rate 0.001
n_epochs 500
batch_size 512
model_name ivec_DAE_5layer_corrected
save_path /misc/data15/reco/bhattgau/Rnn/projects/ivec_DAE/dae-ivectors-trn/
t_file /misc/data15/reco/bhattgau/Rnn/data/dnn_ivecs/hdf5/nist10_dae_ivecs_repeat_train-final.hdf5
v_file /misc/data15/reco/bhattgau/Rnn/data/dnn_ivecs/hdf5/nist10_dae_ivecs_repeat_valid-final.hdf5 
script ivec_dae.py
machine reco-15
