n_hidden 500
f_dim 40
learn_rate 0.001
n_epochs 500
batch_size 128
n_speakers 194
model_name frame_softmax_lstm
save_path /misc/data15/reco/bhattgau/Rnn/projects/Rvector/
t_file /misc/data15/reco/bhattgau/Rnn/data/rsr/hdf5/rsr-p1-train.hdf5
v_file /misc/data15/reco/bhattgau/Rnn/data/rsr/hdf5/rsr-p1-train.hdf5
script frame_softmax.py
machine retd-23
