n_hidden 500
f_dim 40
learn_rate 0.001
batch_size 64
num_epochs 500
n_speakers 194
n_phrases 30
model_name rsr_multitask_fbank_500
save_path /misc/data15/reco/bhattgau/Rnn/projects/Rvector/
t_file /misc/data15/reco/bhattgau/Rnn/data/rsr/rsr-p1-train.hdf5
v_file /misc/data15/reco/bhattgau/Rnn/data/rsr/rsr-p1-train.hdf5
script rsr_multitask.py
machine gtl-reco23
